<!--
/**
 * Safecharge Safecharge payment template.
 *
 * @category Safecharge
 * @package  Safecharge_Safecharge
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="
                    attr: {
                        'id': getCode()
                    },
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()
                "/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: (!useExternalSolution())-->
        <form class="form" id="co-transparent-form" action="#" method="post">
            <fieldset data-bind="
                attr: {
                    class: 'fieldset payment items ccard ' + getCode(),
                    id: getCode() + '_form_cc'
                }
                ">
                <!-- ko if: (isShowLegend())-->
                <legend class="legend">
                    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
                </legend><br />
                <!-- /ko -->

                <!-- ko if: (useVault() && getCardTokens().length) -->
                <div class="field">
                    <label data-bind="attr: {for: getCode() + '_cc_token'}" class="label">
                        <span><!-- ko i18n: 'Saved Cards'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select name="payment[cc_token]" class="select" style="width:225px;"
                                data-bind="
                                    attr: {
                                        id: getCode() + '_cc_token',
                                        'data-container': getCode() + '-cc-token'
                                    },
                                    mageInit: {
                                        creditCardType:{
                                            creditCardTypeContainer:'#' + getCode() + '_cc_type_ss_div'
                                        }
                                    },
                                    enable: true,
                                    options: getCardTokens(),
                                    optionsValue: 'value',
                                    optionsText: 'label',
                                    optionsCaption: $t('Add new card'),
                                    value: creditCardToken,
                                    event: {
                                        change: savedCardSelected(creditCardToken())
                                    }
                                ">
                        </select>
                    </div>
                </div>
                <!-- /ko -->

                <div data-bind="visible: isCcFormShown, attr: {class: getCssClass()}">
                    <!-- ko if: (!isCcDetectionEnabled())-->
                    <label data-bind="attr: {for: getCode() + '_cc_type'}" class="label">
                        <span><!-- ko i18n: 'Credit Card Type'--><!-- /ko --></span>
                    </label>
                    <!-- /ko -->

                    <div class="control">

                        <!-- ko if: (!isCcDetectionEnabled())-->
                        <select name="payment[cc_type]" class="select"
                                data-bind="
                                    attr: {
                                        id: getCode() + '_cc_type',
                                        'data-container': getCode() + '-cc-type',
                                        'data-validate': JSON.stringify(
                                            {
                                                required:true,
                                                'validate-cc-type-select':'#' + getCode() + '_cc_number'
                                            }
                                        )
                                    },
                                    mageInit: {
                                        creditCardType:{
                                            creditCardTypeContainer:'#' + getCode() + '_cc_type_ss_div'
                                        }
                                    },
                                    enable: true,
                                    options: getCcAvailableTypesValues(),
                                    optionsValue: 'value',
                                    optionsText: 'type',
                                    optionsCaption: $t('--Please Select--'),
                                    value: creditCardType
                                ">
                        </select>
                        <!-- /ko -->

                        <!-- ko if: (isCcDetectionEnabled())-->
                        <ul class="credit-card-types">
                            <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                            <li class="item"
                                data-bind="
                                    css: {
                                        _active: $parent.selectedCardType() == item.value,
                                        _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                    }
                                ">
                                <!--ko if: $parent.getIcons(item.value) -->
                                <img data-bind="
                                    attr: {
                                        'src': $parent.getIcons(item.value).url,
                                        'alt': item.type,
                                        'width': $parent.getIcons(item.value).width,
                                        'height': $parent.getIcons(item.value).height
                                    }
                                ">
                                <!--/ko-->
                            </li>
                            <!--/ko-->
                        </ul>

                        <input type="hidden"
                               name="payment[cc_type]"
                               class="input-text"
                               value=""
                               data-bind="
                                    attr: {
                                        id: getCode() + '_cc_type',
                                        'data-container': getCode() + '-cc-type'
                                    },
                                    value: creditCardType
                               ">
                        <!-- /ko -->
                    </div>
                </div>

                <div class="field number required" data-bind="visible: isCcFormShown">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="tel"
                               name="payment[cc_number]"
                               class="input-text"
                               value=""
                               maxlength="19"
                               data-bind="
                                    attr: {
                                        autocomplete: on,
                                        id: getCode() + '_cc_number',
                                        title: $t('Credit Card Number'),
                                        'data-container': getCode() + '-cc-number',
                                        'data-validate': JSON.stringify(
                                            {
                                                'required-number':true,
                                                'validate-card-type':getCcAvailableTypesValues(),
                                                'validate-card-number':'#' + getCode() + '_cc_type',
                                                'validate-cc-type':'#' + getCode() + '_cc_type'
                                            }
                                        )
                                    },
                                    enable: isActive($parents),
                                    value: creditCardNumber,
                                    valueUpdate: 'keyup',
                                    afterRender: initCcNumberFormatting
                               "/>
                    </div>
                </div>

                <div class="field date required"
                     data-bind="
                        attr: {
                            id: getCode() + '_cc_type_exp_div'
                        },
                        visible: isCcFormShown
                     ">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month">
                                <div class="control">
                                    <select  name="payment[cc_exp_month]" class="select month"
                                             data-bind="
                                                attr: {
                                                    id: getCode() + '_expiration',
                                                    'data-container': getCode() + '-cc-month',
                                                    'data-validate': JSON.stringify(
                                                        {
                                                            required:true,
                                                            'validate-cc-exp':'#' + getCode() + '_expiration_yr'
                                                        }
                                                    )
                                                },
                                                enable: true,
                                                options: getCcMonthsValues(),
                                                optionsValue: 'value',
                                                optionsText: 'month',
                                                optionsCaption: $t('Month'),
                                                value: creditCardExpMonth
                                             ">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select name="payment[cc_exp_year]" class="select year"
                                            data-bind="
                                                attr: {
                                                    id: getCode() + '_expiration_yr',
                                                    'data-container': getCode() + '-cc-year',
                                                    'data-validate': JSON.stringify(
                                                        {
                                                            required:true
                                                        }
                                                    )
                                                },
                                                enable: true,
                                                options: getCcYearsValues(),
                                                optionsValue: 'value',
                                                optionsText: 'year',
                                                optionsCaption: $t('Year'),
                                                value: creditCardExpYear
                                            ">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field number required" data-bind="visible: isCcFormShown">
                    <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label">
                        <span><!-- ko i18n: 'Name On Card'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[cc_owner]" class="input-text" value=""
                               data-bind="
                                    attr: {
                                        autocomplete: on,
                                        id: getCode() + '_cc_owner',
                                        title: $t('Credit Card Name'),
                                        'data-container': getCode() + '-cc-owner',
                                        'data-validate': JSON.stringify(
                                            {
                                                'required':true
                                            }
                                        )
                                    },
                                    enable: isActive($parents),
                                    value: creditCardOwner,
                                    valueUpdate: 'keyup'
                               "/>
                    </div>
                </div>

                <!-- ko if: (hasVerification())-->
                <div class="field cvv required"
                     data-bind="
                        attr: {
                            id: getCode() + '_cc_type_cvv_div'
                        }
                     ">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <input type="tel"
                               class="input-text cvv"
                               name="payment[cc_cid]"
                               value=""
                               maxlength="4"
                               data-bind="
                                    attr: {
                                        id: getCode() + '_cc_cid',
                                        title: $t('Card Verification Number'),
                                        'data-container': getCode() + '-cc-cvv',
                                        'data-validate': JSON.stringify(
                                            {
                                                'required-number':true,
                                                'validate-cc-cvn':'#' + getCode() + '_cc_type'
                                            }
                                        )
                                    },
                                    enable: true,
                                    value: creditCardVerificationNumber,
                                    afterRender: initCcCvvFormatting
                               "/>
                        <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-cvv"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="
                                        attr: {
                                            title: $t('What is this?')
                                        },
                                        mageInit: {
                                            'dropdown':{'activeClass': '_active'}
                                        }
                                  ">
                                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: (canSaveCard() && useVault())-->
                <div class="field" data-bind="visible: isCcFormShown">
                    <label class="label">
                        <span></span>
                    </label>
                    <div class="control">
                        <input type="checkbox"
                               name="payment[cc_save]"
                               value="1"
                               checked="checked"
                               class="checkbox"
                               data-bind="
                                    attr: {
                                        id: getCode() + '_cc_save'
                                    }
                                    enable: true,
                                    checked: creditCardSave
                               "/>
                        <label class="label" data-bind="attr: {for: getCode() + '_cc_save'}">
                            <span><!-- ko i18n: 'Save this card for future use'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
                <!-- /ko -->
            </fieldset>
        </form>
        <!--/ko-->

        <!-- ko if: (useExternalSolution())-->
        <span><!-- ko i18n: 'You will be redirected to our secure payment page when you place an order.'--><!-- /ko --></span>
        <!-- /ko -->

        <div class="payment-method-content">
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="review-save"
                            type="submit"
                            class="action primary checkout"
                            disabled
                            data-bind="
                                attr: {
                                    title: $t('Place Order')
                                },
                                enable: (getCode() == isChecked()),
                                click: placeOrder,
                                css: {
                                    disabled: !isPlaceOrderActionAllowed()
                                }
                            ">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>