<div id="migration_container">
     <ul>
          <li><a href="#step-setup"><span>Source Cart Setup</span></a></li>
          <li><a href="#step-config"><span>Configuration</span></a></li>
          <li><a href="#step-migrate"><span>Migration</span></a></li>
     </ul>
     <div id="step-setup">
         <form id="form-setup" action="<?php echo $this->getUrl('cartmigrate/index/config');?>" data-mage-init='{"validation":{}}'>
         	<fieldset class="admin__fieldset">
	         	<input type="hidden"/>
	         	<div class="admin__field _required">
	         	 	<label class="admin__field-label">
				        <span>Cart Type</span>
				    </label>
				    <div class="admin__field-control _with-tooltip">
				    	<select class="admin__control-select required" name="cart_type">
				    		<option value="woocommerce">WooCommerce</option>
				    	</select>
				    </div>
	         	</div>
	         	<div class="admin__field _required">
	         	 	<label class="admin__field-label">
				        <span>Cart URL</span>
				    </label>
				    <div class="admin__field-control _with-tooltip">
				    	<input type="text" class="admin__control-text" name="cart_url" data-validate='{"required":true}'/>
				    	<div class="admin__field-note">Please enter correct Source Cart URL</div>
				    </div>
	         	</div>
	         	<div class="admin__field _required">
	         	 	<label class="admin__field-label">
				        <span>Cart Token</span>
				    </label>
				    <div class="admin__field-control _with-tooltip">
				    	<input type="text" class="admin__control-text" name="cart_token" data-validate="{required:true, 'validate-number':true}"/>
				    	<div class="admin__field-note">Please enter token available in source connection file</div>
				    </div>
	         	</div>
	         	<div class="admin__field _required">
					<label class="admin__field-label" for="form-setup-submit"></label>
					<div class="admin__field-control">
			            <button type="submit" title="Next" class="action submit primary" id="form-setup-submit">
				    		<span>Next »</span>
						</button>
					</div>
	    		</div>
	        </fieldset> 
        </form>
     </div>
     <div id="step-config">
          <!-- <p>The Magento collapsible widget converts a header/content pair into an accordion, where the content is collapsed or expanded on the header click.</p>
          <p>Unlike the accordion widget is that collapsible is initialized for one title/content pair, while accordion can be initialized for a set of title/contents pairs.</p> -->
     </div>
     <div id="step-migrate">
          <!-- <p>The Magento tabs widget implements single content area with multiple panels, each associated with a header in a list. It uses the Magento collapsible widget.</p> -->
     </div>
</div>

<script>
require([
     'jquery',
     'tabs'
     ],
     function($, tabs) {
          $("#migration_container").tabs();
          $("#migration_container").tabs({disabled: [ 1, 2 ]});
     }
);
</script>
