<?php

$cart_url = $this->getData('cart_url');
$cart_token =  $this->getData('cart_token');
$rootCategories = $this->getRootCategories();
$attributeSets = $this->getAttributeSets();
$sourceUserRoles = $this->getSourceUserRoles();
$targetCustomerRoles = $this->getTargetCustomerGroups();
$sourceOrderStatus = $this->getSourceOrderStatus();
$targetOrderStatus = $this->getTargetOrderStatus();

?>

<form action="<?php echo $this->getUrl('cartmigrate/index/migrate');?>" id="form-config">
	<fieldset class="admin__fieldset">
		<input type="hidden" name="action" value="config">
		<input type="hidden" name="importURL" value="<?php echo $this->getUrl('cartmigrate/index/import');?>">
		<input type="hidden" name="progressURL" value="<?php echo $this->getUrl('cartmigrate/index/checkprogress');?>">
		<input type="hidden" name="cart_url" value="<?php echo $cart_url;?>">
		<input type="hidden" name="cart_token" value="<?php echo $cart_token;?>">
	    <div class="admin__field">
		    <label class="admin__field-label">
		    	<span>Default Root Category :</span>
			</label>
		    <div class="admin__field-control _with-tooltip">
		    	<select class="admin__control-select" name="category">
		    		<?php foreach($rootCategories as $rootCategory){?>
		    		<?php $selected=''; if($rootCategory->getId()==2){$selected = 'selected';}  ?>
		    		<option value="<?php echo $rootCategory->getId();?>" <?php echo $selected; ?> ><?php echo $rootCategory->getName(); ?></option>
		    		<?php } ?>
		    	</select>
		    </div>
		</div>
		<div class="admin__field">
		    <label class="admin__field-label">
		    	<span>Default Attribute Set :</span>
			</label>
		    <div class="admin__field-control _with-tooltip">
		    	<select class="admin__control-select" name="attributeset">
		    		<?php foreach($attributeSets as $attributeSet){?>
		    		<?php $selected=''; if($attributeSet['value']==4){$selected = 'selected';}  ?>
		    		<option value="<?php echo $attributeSet['value'];?>" <?php echo $selected; ?> ><?php echo $attributeSet['label']; ?></option>
		    		<?php } ?>
		    	</select>
		    </div>
		</div>
		<h2>Orders Status Mapping</h2>
        <?php 
            foreach($sourceOrderStatus as $key => $orderStatus)
            {
        ?>
                <div class="admin__field">
                	<label class="admin__field-label">
				    	<span><?php echo $orderStatus; ?></span>
					</label>
					<div class="admin__field-control _with-tooltip">
				    	<select class="admin__control-select" name="order_status[<?php echo $key; ?>]">
				    	<?php
				    	    foreach($targetOrderStatus as $tOrderStatus)
            				{
            			?>
                                <option value="<?php echo $tOrderStatus['value'];?>"><?php echo $tOrderStatus['label'];?></option>
            			<?php		
            				}
				    	?>
				    	</select>
				    </div>
                </div>
        <?php

            }
        ?>
        <h2>Customer Group Mapping</h2>
		<?php 
            foreach($sourceUserRoles as $key => $userRole)
            {
        ?>
        		<div class="admin__field">
				    <label class="admin__field-label">
				    	<span><?php echo $userRole['name']; ?></span>
					</label>
				    <div class="admin__field-control _with-tooltip">
				    	<select class="admin__control-select" name="customer_group[<?php echo $key;?>]">
				    	<?php
				    	    foreach($targetCustomerRoles as $customerRole)
            				{
            			?>
                                <option value="<?php echo $customerRole['value'];?>"><?php echo $customerRole['label'];?></option>
            			<?php		
            				}
				    	?>
				    	</select>
				    </div>
				</div>
        <?php
            }
		?>
        <h2>Entities to Migrate</h2>
		<div class="admin__field">
			<div class="admin__field-control _with-tooltip">
				<input type="checkbox" title="" id="select-all" class="checkbox admin__control-checkbox" name="select-all">
				<label class="admin__field-label" for="select-all">
					<span>Select All</span>
				</label>
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="taxes" class="checkbox admin__control-checkbox" name="taxes">
						<label class="admin__field-label" for="taxes">
							<span>Taxes</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="manufacturers" class="checkbox admin__control-checkbox" name="manufacturers">
						<label class="admin__field-label" for="manufacturers">
							<span>Manufacturers</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="categories" class="checkbox admin__control-checkbox" name="categories">
						<label class="admin__field-label" for="categories">
							<span>Categories</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="products" class="checkbox admin__control-checkbox" name="products">
						<label class="admin__field-label" for="products">
							<span>Products</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="reviews" class="checkbox admin__control-checkbox" name="reviews">
						<label class="admin__field-label" for="reviews">
							<span>Reviews</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="customers" class="checkbox admin__control-checkbox" name="customers">
						<label class="admin__field-label" for="customers">
							<span>Customers</span>
						</label>
	                </li>
	            </ul>			
			</div>
			<div class="admin__field-control _with-tooltip" style="width:100%">
				<ul class="ds-select-cat">
	                <li>
	                    <input type="checkbox" title="" id="orders" class="checkbox admin__control-checkbox" name="orders">
						<label class="admin__field-label" for="orders">
							<span>Orders</span>
						</label>
	                </li>
	            </ul>			
			</div>
		</div>
		<div class="admin__field">
			<label class="admin__field-label" for="form-config-submit"></label>
			<div class="admin__field-control">
	            <button type="submit" title="Next" class="action submit primary" id="form-config-submit">
		    		<span>Next »</span>
				</button>
			</div>
	    </div>
    </fieldset>
</form>
