Please wait...<br/>
Data is being imported.
<style>

.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.progress_width {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    color: white; 
}
.process_bar{
		width: 100%;
	    background-color: #ddd;
	    margin: 10px auto;
}

.process_name {
    width: 15%;
    float: left;
    margin-top: 10px;
}

.process_content {
    width: 80%;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.process_div
{
	overflow: hidden;
}

</style>
<?php
$data = $this->getData('data');
?>
<div class="import_container">
	<?php if(isset($data['taxes']) && $data['taxes'] == 'on'){ ?>
		<div id="process_taxes" class="process_div">
			<div class="process_name">Taxes</div>
			<div class="process_content">
				<div class="process_bar">
				  <div class="progress_width">10%</div>
				</div>
			</div>
		</div>
	<?php } ?>
	<?php if(isset($data['manufacturers']) && $data['manufacturers'] == 'on'){ ?>
	<div id="process_manufacturers" class="process_div">
		<div class="process_name">Manufacturers</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if(isset($data['categories']) && $data['categories'] == 'on'){ ?>
	<div id="process_categories" class="process_div">
		<div class="process_name">Categories</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if(isset($data['products']) && $data['products'] == 'on'){ ?>
	<div id="process_products" class="process_div">
		<div class="process_name">Products</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if(isset($data['customers']) && $data['customers'] == 'on'){ ?>
	<div id="process-customers" class="process_div">
		<div class="process_name">Customers</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if(isset($data['orders']) && $data['orders'] == 'on'){ ?>
	<div id="process-orders" class="process_div">
		<div class="process_name">Order</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<?php if(isset($data['reviews']) && $data['reviews'] == 'on'){ ?>
	<div id="process-reviews" class="process_div">
		<div class="process_name">Reviews</div>
		<div class="process_content">
			<div class="process_bar">
			  <div class="progress_width">10%</div>
			</div>
		</div>
	</div>
	<?php } ?>
	
	
</div>

